<!-- Include of the dedicated stylesheet -->
<link rel="stylesheet" type="text/css" href="../scripts/formTravel.css">

<!-- Inclusion of google map and realtive functions -->
<script src="http://maps.googleapis.com/maps/api/js"></script>

<script>
//Global variables
var marker_dep;
var marker_arr;

function initializeGoogleMaps() {

	var mapOptions = {
	    center:new google.maps.LatLng(46.887678, -72.260262),
	    zoom:5,
	    mapTypeId:google.maps.MapTypeId.ROADMAP,
	    mapTypeControl: false,
		streetViewControl: false
	};
	
	//Create 2 map objects
	var map_dep = new google.maps.Map(document.getElementById("gmapDeparture"), mapOptions);
	var map_arr = new google.maps.Map(document.getElementById("gmapArrival"), mapOptions);

	//Create the geocoder guy
	var geocoder = new google.maps.Geocoder;

	//Bind listener for a specific marker and process the input	
	map_dep.addListener('click', function(event) {
		placeMarker(event.latLng, map_dep, "departure");
	    geocodeLatLng(geocoder, map_dep, event.latLng, "departure");
	});
	
	map_arr.addListener('click', function(event) {		
		placeMarker(event.latLng, map_arr, "arrival");
		geocodeLatLng(geocoder, map_arr, event.latLng, "arrival");
	});
}

//function to put marker on specific map
function placeMarker(location, targetMap, context) {

	if (context == "departure"){

		if (!marker_dep){
			console.log("new marker !!");
			marker_dep = new google.maps.Marker({
		        position: location, 
		        map: targetMap,
		        visble: true
		    });
		}else{
			console.log("already here");
			marker_dep.setPosition(location);
		}
	}

	if (context == "arrival"){
		if (!marker_arr){
			console.log("new marker !!");
			marker_arr = new google.maps.Marker({
		        position: location, 
		        map: targetMap,
		        visble: true
		    });
		}else{
			console.log("already here");
			marker_arr.setPosition(location);
		}		
	}
}

//Decode latLng to a readable address
//https://developers.google.com/maps/documentation/javascript/examples/geocoding-reverse
function geocodeLatLng(geocoder, map, location, context) {
	geocoder.geocode({'location': location}, function(results, status) {
		if (status === google.maps.GeocoderStatus.OK) {
			if (results[1]) {
				map.setZoom(8);
				map.setCenter(location);
				var readableField = document.getElementById(context);
				readableField.value = results[1].formatted_address;
			} else {
				window.alert('No results found');
			}
		} else {
		  window.alert('Geocoder failed due to: ' + status);
		}
	});
}

//Add the google maps to dom and call the init function
google.maps.event.addDomListener(window, 'load', initializeGoogleMaps);

</script>


<!-- Success or error banner -->
<div id="addSuccess" class="alert alert-success" role="alert" style="display:none">
	<strong>Done !</strong> 
	Modification correctly saved. Redirection to your travel list.
</div>

<div id="addError" class="alert alert-danger error" role="alert" style="display:none">
	<strong>Oups !</strong> There has been an error.
</div>


<!-- add Travel form -->
<div class="jumbotron">

	<h1 class="text-primary">Add a travel</h1>

	
				

 	<div class="container-fluid">
		<div class="form-group col-md-6">
			<label for="departure">Departure :</label>
			<input id="departure" class="form-control alert-departure-arival"></input>
			<br>
			<div id="gmapDeparture" style="width:70%;height:350px;"></div>
		</div>

		<div class="form-group col-md-6">
			<label for="arrival">Arrival : </label>
			<input id="arrival" class="form-control alert-departure-arival"></input>
			<br>
			<div id="gmapArrival" style="width:70%;height:350px;"></div>
		</div>
	</div>


	<div class="container-fluid">
        <div class="form-group col-md-4">
        	<label for="departure-date">Departure date </label>
        	<input id="departure-date" class="form-control" type="date" placeholder="YYYY-MM-DD" name="departure-date" value="{{ datetime_departure.strftime('%Y-%m-%d') }}"/>
        	<span id="error_datetime" class ="error" style="color:red; display:none"></span>
        </div>

        <div class="form-group col-md-4">
        	<label for="departure-hour">Hour</label>
        	<select class="form-control" id="departure-hour" name="departure-hour">
        		{% for i in range(24) %}

        			{% if i < 10 %}
        				<option value="{{ i }}" {% if datetime_departure.strftime('%H')|int == i %}selected{% endif %}>{{ '0' + i|string + ' h' }}</option>
        			{% else %}
        				<option value="{{ i }}" {% if datetime_departure.strftime('%H')|int == i %}selected{% endif %}>{{ i|string + ' h' }}</option>
        			{% endif %}

        		{% endfor %}
        	</select>
        </div>

        <div class="form-group col-md-4">
        	<label for="departure-minutes">Minutes</label>
        	<select class="form-control" id="departure-minutes" name="departure-minutes">
        		{% for i in range(60) %}

        			{% if i < 10 %}
        				<option value="{{ i }}" {% if datetime_departure.strftime('%M')|int == i %}selected{% endif %}>{{ '0' + i|string }}</option>
        			{% else %}
        				<option value="{{ i }}" {% if datetime_departure.strftime('%M')|int == i %}selected{% endif %}>{{ i|string }}</option>
        			{% endif %}

        		{% endfor %}
        	</select>
        </div>
    </div>

    <div class="container-fluid">
        <div class="form-group col-md-6">
        	<label for="seats">Seats available :</label>
			<select class="form-control" id="seats" name="seats">
			    <option value="1" {% if seats == 1 %}selected{% endif %}>1</option>
			    <option value="2" {% if seats == 2 %}selected{% endif %}>2</option>
			    <option value="3" {% if seats == 3 %}selected{% endif %}>3</option>
			    <option value="4" {% if seats == 4 %}selected{% endif %}>4</option>
			    <option value="5" {% if seats == 5 %}selected{% endif %}>5</option>
			</select>
        </div>

        <div class="form-group col-md-6">
        	<label for="price">Price : </label>
        	<input class="form-control" id="price" type="number" maxlength="3" name="price" value={{ price }}> $
        	<span id="error_price" class ="error" style="color:red; display:none"></span>
        </div>
    </div>

        <!-- Preferences -->
        <div id="preferences" class="container-fluid" >

        	<!-- <div class="form-group"> -->
        	<h3 > Choose your travel preferences </h3>

	        <div class="form-group col-md-12">
	        	<label class="radio-inline col-md-3">
	        		<input type="radio" name="animals" value="ok" {% if user.animals == "ok" %}checked{% endif %}>Authorized  
	        		<img src="../scripts/img/animal.jpg">
	        	</label>
				<label class="radio-inline col-md-3">
					<input type="radio" name="animals" value="nok" {% if user.animals == "nok" %}checked{% endif %}>Prohibited  
					<img src="../scripts/img/no_animal.jpg">
				</label>
	        </div>

	        <div class="form-group col-md-12">
	        	<!-- <h3>Smoking</h3> -->
	        	<label class="radio-inline col-md-3">
	        		<input type="radio" name="smoking" value="ok" {% if user.smoking == "ok" %}checked{% endif %}>Authorized  
	        		<img src="../scripts/img/smoking.jpg">
	        	</label>
				<label class="radio-inline col-md-3">
					<input type="radio" name="smoking" value="nok" {% if user.smoking == "nok" %}checked{% endif %}>Prohibited  
					<img src="../scripts/img/no_smoking.jpg">
				</label>
	        </div>

	        <div class="form-group col-md-12">
	        	<!-- <h3>Luggage space</h3> -->
	        	<label class="radio-inline col-md-3">
	        		<input type="radio" name="luggage" value="sm_bag" {% if user.big_luggage == "nok" %}checked{% endif %}>Small bag  
	        		<img src="../scripts/img/small_bag.jpg">
	        	</label>
				<label class="radio-inline col-md-3">
					<input type="radio" name="luggage" value="suitcase" {% if user.big_luggage == "ok" %}checked{% endif %}>Suitcase  
					<img src="../scripts/img/suitcase.jpg">
				</label>
	        </div>

	     </div>


		<button type="submit" class="btn btn-success" onclick="submitAddTravel();">Submit</button>



</div>



<script>
function submitAddTravel(){

	//Retrieve departure and arrival :
	var departure = document.getElementById("departure").value;
	var arrival = document.getElementById("arrival").value;


	// Retrieve number of seats
	var seats = document.getElementById('seats');
	var seatNumber = seats.options[seats.selectedIndex].value;

	//Retrieve departure moments
	var dep_date = document.getElementById('departure-date').value;
	var dep_hour = document.getElementById('departure-hour').value;
	var dep_min = document.getElementById('departure-minutes').value;

	//Retrieve the price
	var price = document.getElementById("price").value;

	//Retrieve preferences:
	var animals = "ni";
	var smoking = "ni";
	var big_luggage = "ni";

	//Loop over the Preference div Section
	var preferences = document.getElementById('preferences');
	var prefList = preferences.children;
	for (var i = 0; i < prefList.length; i++){
		
		if (prefList[i].tagName == 'input' || prefList[i].tagName == 'INPUT'){
			if (prefList[i].type == 'radio' && prefList[i].checked){
				
				if (prefList[i].name == 'animals'){
					animals = prefList[i].value;
				}

				if (prefList[i].name == "smoking"){
					smoking = prefList[i].value;
				}

				if (prefList[i].name == "luggage"){
					big_luggage = prefList[i].value;
				}
			}
		}
	}
	

	//Prepare ajax request
	$.ajax({
	  type: "POST",
	  url: "/addTravel",
	  dataType: 'json',
	  data: JSON.stringify({ "departure" : departure,
	  						"arrival" : arrival,
	  						"departure_date" : dep_date,
	  						"departure_hour" : dep_hour,
	  						"departure_minutes" : dep_min,
	  						"price" : price,
	  						"animals" : animals,
	  						"smoking" : smoking,
	  						"luggage" : big_luggage,
	  						"seats" : seatNumber
							})
	})
	.done(function( data ) { 		
		console.log("data received back");

		// Hide error field
		var alert_components = document.getElementsByClassName('error');
		for (var i = 0; i < alert_components.length; i++){
			alert_components[i].style.display = 'none';
		}

		//If there is error, handle appropriate error messages
		if (data['error']){

			//Display main error banner
			var addError = document.getElementById("addError");
			addError.style.display = 'block';

			//error message as a palceholder
			if (data['error_departure']){
				$("#departure").attr('placeholder', data['error_departure']);
			}
			
			//error message as a palceholder
			if (data['error_arrival']){
				$("#arrival").attr('placeholder', data['error_arrival']);
			}

			//Error message append to the error banner
			if (data['error_samedeparture']){
				var error_div = document.getElementById('addError');
				error_div.lastChild.data = data['error_samedeparture'];
			}


			if (data['error_datetime']){
				var span_error = document.getElementById('error_datetime');
				span_error.innerHTML = data['error_datetime'];
				span_error.style.display = 'block';
			}

			if (data['error_price']){
				var span_error = document.getElementById('error_price');
				span_error.innerHTML = data['error_price'];
				span_error.style.display = 'block';
			}
		}else{
			//handle success and redirect to the list of travel whereuser is the driver
			var success = document.getElementById("addSuccess");
			success.style.display = 'block';

			window.setTimeout(function(){
				window.location.replace("driverTravels");
			}, 1500);
		}
	});
}


</script>