<!-- Include of the dedicated stylesheet -->
<link rel="stylesheet" type="text/css" href="../scripts/formTravel.css">

<!-- Inclusion of google map and relative functions -->
<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script type="text/javascript" src="/scripts/js/gmap.js" ></script>
<script type="text/javascript" src="/scripts/js/travel.js" ></script>

<script>
//Add the google maps to dom and call the init function of gmap.js
google.maps.event.addDomListener(window, 'load', initializeGoogleMapsAdder);
</script>


<!-- add Travel form -->
<div class="jumbotron">

	<h1 class="text-primary">Add a travel</h1>

	<!-- Departure / Arrival section -->
	<div class="container-fluid">
		<div class="form-group col-md-6">
			<label for="departure">Departure :</label>
			<input id="departure" class="form-control alert-departure-arival"></input>
			<br>
			<div id="gmapDeparture" style="width:70%;height:350px;"></div>
		</div>

		<div class="form-group col-md-6">
			<label for="arrival">Arrival : </label>
			<input id="arrival" class="form-control alert-departure-arival"></input>
			<br>
			<div id="gmapArrival" style="width:70%;height:350px;"></div>
		</div>
	</div>


	<!-- Schedule Section -->
	<div class="container-fluid">
		<div class="form-group col-md-4">
			<label for="departure-day">Departure day </label>			
			<select id="departure-day" class="form-control" placeholder="Day" name="departure-day">
				<option value="monday" 		selected >Monday</option>
				<option value="tuesday" 			 >Tuesday</option>
				<option value="wednesday" 			 >Wednesday</option>
				<option value="thursday" 			 >Thursday</option>
				<option value="friday" 				 >Friday</option>
				<option value="saturday" 			 >Saturday</option>
				<option value="sunday" 				 >Sunday</option>
			</select>
		</div>

		<div class="form-group col-md-4">
			<label for="departure-hour">Departure Hour</label>
			<select class="form-control" id="departure-hour" name="departure-hour">
				{% for i in range(24) %}

					{% if i < 10 %}
						{% if i == 0 %}
							<option value="{{ i }}" selected >{{ '0' + i|string + ' h' }}</option>
						{% else %}
							<option value="{{ i }}" >{{ '0' + i|string + ' h' }}</option>
						{% endif %}
					{% else %}
						<option value="{{ i }}" >{{ i|string + ' h' }}</option>
					{% endif %}

				{% endfor %}
			</select>
		</div>

		<div class="form-group col-md-4">
			<label for="departure-minutes">Minutes</label>
			<select class="form-control" id="departure-minutes" name="departure-minutes">
				{% for i in range(0, 60, 5) %}

					{% if i < 10 %}
						{% if i == 0 %}
							<option value="{{ i }}" selected >{{ '0' + i|string + ' min' }}</option>
						{% else %}
							<option value="{{ i }}" >{{ '0' + i|string + ' min' }}</option>
						{% endif %}

					{% else %}
						<option value="{{ i }}">{{ i|string + ' min' }}</option>
					{% endif %}

				{% endfor %}
			</select>
		</div>
	</div>


	<!-- Seats / Price Section -->
	<div class="container-fluid">
		<div class="form-group col-md-6">
			<label for="seats">Seats available :</label>
			<select class="form-control" id="seats" name="seats">
				<option value="1" {% if seats == 1 %}selected{% endif %}>1</option>
				<option value="2" {% if seats == 2 %}selected{% endif %}>2</option>
				<option value="3" {% if seats == 3 %}selected{% endif %}>3</option>
				<option value="4" {% if seats == 4 %}selected{% endif %}>4</option>
				<option value="5" {% if seats == 5 %}selected{% endif %}>5</option>
			</select>
		</div>

		<div class="form-group col-md-6">
			<label for="price">Price : </label>
			<input class="form-control" id="price" type="number" maxlength="3" name="price" value={{ price }}> $
		</div>
	</div>

	<!-- Preferences -->
	<div class="container-fluid" >

		<h3 > Choose your travel preferences </h3>

		<!-- Animals -->
		<div class="form-group col-md-12">
			<label class="radio-inline col-md-3">
				<input type="radio" name="animals" value="ok" class="preferences"{% if user.animals == "ok" %}checked{% endif %}>Authorized  
				<img src="../scripts/img/animal.jpg">
			</label>
			<label class="radio-inline col-md-3">
				<input type="radio" name="animals" value="nok" class="preferences"{% if user.animals == "nok" %}checked{% endif %}>Prohibited  
				<img src="../scripts/img/no_animal.jpg">
			</label>
		</div>

		<!-- Smoking -->
		<div class="form-group col-md-12">
			<label class="radio-inline col-md-3">
				<input type="radio" name="smoking" value="ok" class="preferences"{% if user.smoking == "ok" %}checked{% endif %}>Authorized  
				<img src="../scripts/img/smoking.jpg">
			</label>
			<label class="radio-inline col-md-3">
				<input type="radio" name="smoking" value="nok" class="preferences"{% if user.smoking == "nok" %}checked{% endif %}>Prohibited  
				<img src="../scripts/img/no_smoking.jpg">
			</label>
		</div>

		<!-- Luggage -->
		<div class="form-group col-md-12">
			<label class="radio-inline col-md-3">
				<input type="radio" name="luggage" value="nok" class="preferences"{% if user.big_luggage == "nok" %}checked{% endif %}>Small bag  
				<img src="../scripts/img/small_bag.jpg">
			</label>
			<label class="radio-inline col-md-3">
				<input type="radio" name="luggage" value="ok" class="preferences"{% if user.big_luggage == "ok" %}checked{% endif %}>Suitcase  
				<img src="../scripts/img/suitcase.jpg">
			</label>
		</div>

	 </div>

	<!-- Call of travel.js/submitAddTravel function to perform Ajax Request -->
	<button type="submit" class="btn btn-success" onclick="submitAddTravel();">Submit</button>
	
</div>
