<!DOCTYPE html>
<html>
<head>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

	<!-- bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- Our CSS -->
	<link rel="stylesheet" type="text/css" href="../scripts/main.css">


	<title>TravelExpress</title>


</head>

<body>

	<!-- Temporary banner -->
	<div id="banner" class="page-header" >
		<h1>Travel Express <small> Travel where ever you want </small></h1>
	</div>

	{% if user %}

		{% include "navbar.html" %}


		<div id="quickLinks" class="row">

			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="/addTravel" class="thumbnail">
					<img src="scripts/img/add_thumbnail.jpg" alt="Add">
					<h3>Add a travel</h3>
				</a>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#" class="thumbnail">
					<img src="scripts/img/search_thumbnail.jpg" alt="Search">
					<h3>Look for a travel</h3>
				</a>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4">
				<a href="#" class="thumbnail">
					<img src="scripts/img/parameters_thumbnail.jpg" alt="Parameters">
					<h3>Parameters</h3>
				</a>
			</div>

		</div>


	{% else %}
		<!-- Sign Up / Log In section -->
		<div class="jumbotron">
			<div id="jumpInSection" class="container">
				<p>If you want to benefit of our website, you have to log in =/ </p>
				<p>If you don't have any account, you can always create one =D </p>
				<div class="row">
					<div class="col-md-6">
						<!-- Sign Up template -->
						{% include "signUpForm.html" with context %}
					</div>
					<div class="col-md-6">
						<!-- log in template -->
						{% include "logInForm.html" with context %}
					</div>

				</div>
				<p> Choice is yours </p>
			</div>
		</div>
	{% endif %}








	<!-- Welcome Message -->
	<div id="welcomeSection">
		<p> Welcome to Travel Express, the web service allowing you to travel without using your feet !! </p>
	</div>


</body>

</html>

