<!DOCTYPE html>
<html>
<head>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	

	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>



	<title>TravelExpress</title>


</head>

<body>
	
	

	<!-- Temporary banner -->
	<div id="banner" class="page-header" >
		<h1>Travel Express <small> Travel where ever you want </small></h1>
	</div>

	{% if user %}
		<!-- Nav bar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</a>
				</div>
			</div>
		</nav>

	{% else %}
		<!-- Sign Up / Log In section -->	
		<div class="jumbotron">
			<div id="jumpInSection" class="container">
				<p>If you want to benefit of our website, you have to log in =/ </p>
				<p>If you don't have any account, you can always create one =D </p>
				<div class="row">
					<div class="col-md-6">
						<!-- Sign Up template -->
						{% include "signUpForm.html" with context %}
					</div>
					<div class="col-md-6">
						<!-- log in template -->
						{% include "logInForm.html" with context %}
					</div>

				</div>
				<p> Choice is yours </p>
			</div>
		</div>
	{% endif %}








	<!-- Welcome Message -->
	<div id="welcomeSection">
		<p> Welcome to Travel Express, the web service allowing you to travel without using your feet !! </p>
	</div>







	
</body>

</html>

