<!-- Relative css file -->
<link rel="stylesheet" type="text/css" href="../scripts/listTravels.css">


<!-- Success or error banner -->
<div id="delSuccess" class="alert alert-success" role="alert" style="display:none">
	<strong>Done !</strong> 
	Deletion correctly saved. This page will now refresh
</div>

{% if noTravel %}
	<div class="alert alert-warning" role="alert">
		<strong>Warning !</strong> You do not have any travels set yet. <a href="/addTravel">Add one</a>
	</div>
{% endif %}


<!-- Content : Travels where user is the driver -->
<div id="driverTravels" class="container">
{% for travel in travels %}

	<!-- A travel HTML instance -->
	<div class="panel panel-primary">

		<!-- Title of a Travel + Buttons -->
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-8">
					<h3 class="panel-title">
						<strong>{{ travel.schedule[0]|capitalize +', '+travel.schedule[1]+':'+travel.schedule[2] }} : </strong>
						{{ travel.departure|join(', ')|capitalize }} 
						<span class="glyphicon glyphicon-arrow-right"> </span>
						{{ travel.arrival|join(', ')|capitalize }}
					</h3>
				</div>

				<div class="btn-group">
						<button type="button" class="btn btn-warning" onclick="modifyTravel({{ travel.key().id() }});" >
							<span class="glyphicon glyphicon-edit"></span>
						</button>

						<button type="button" class="btn btn-danger" onclick="deleteTravel( {{travel.key().id() }});">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
				</div>

			</div>
		</div>

		<!-- Travel characteristics -->
		<div class="panel-body">
			<p><strong>{{ travel.places_remaining }}</strong> places remaining</p>
			<div class="inline_panel">
				<p><strong>{{ travel.price }}$</strong></p>

				{% if travel.preferences[0] == 'ok' %}
					<img src="../scripts/img/animal.jpg" alt="Animal OK">
				{% elif travel.preferences[0] == 'nok' %}
					<img src="../scripts/img/no_animal.jpg" alt="NO Animal">
				{% endif %}

				{% if travel.preferences[1] == 'ok' %}
					<img src="../scripts/img/smoking.jpg" alt="Smoking OK">
				{% elif travel.preferences[1] == 'nok' %}
					<img src="../scripts/img/no_smoking.jpg" alt="NO Smoking">
				{% endif %}

				{% if travel.preferences[2] == 'ok' %}
					<img src="../scripts/img/suitcase.jpg" alt="Suitcase">
				{% elif travel.preferences[2] == 'nok'%}
					<img src="../scripts/img/small_bag.jpg" alt="Small bag">
				{% endif %}
			</div>
		</div>
	</div>

{% endfor %}
</div>


<!-- Javascript to handle buttons click -->
<script type="text/javascript">

function deleteTravel(travel_id){
	if ( confirm('Are you sure you want to delte this travel ?') ){

		$.ajax({
			type: "POST",
			url: "/deleteTravel",
			dataType: 'json',
			data: JSON.stringify({ "travel_id" : travel_id	})
			})
			.done(function( data ) { 
				var success = document.getElementById("delSuccess");
				success.style.display = "block";
				window.setTimeout(function(){
					window.location.replace("driverTravels");
				}, 1000);
			});	
	}
}

function modifyTravel(travel_id){
	if ( confirm('Do you want to modify this travel ?') ){
		console.log("Travel id received = "+travel_id);
		window.location.replace("/modifyTravel?id="+travel_id);
	}
}

</script>

