<!DOCTYPE html>
<html>
<head>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

	<!-- bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- Our CSS -->
	<link rel="stylesheet" type="text/css" href="../scripts/main.css">
	<link rel="stylesheet" type="text/css" href="../scripts/driverTravels.css">


	<title>TravelExpress</title>

</head>

<body>

	<!-- Temporary banner -->
	<div id="banner" class="page-header" >
		<h1>Travel Express <small> Travel where ever you want </small></h1>
	</div>

	{% if user %}

		<!-- Nav bar -->
		<ul class="nav nav-tabs nav-justified">
			<li>
				<a href="/">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					Home
				</a>
			</li>

			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
					Traveler <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/travelerTravels">Show my travels</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/searchTravel">Look for a travel</a></li>
				</ul>
			</li>

			<li class="dropdown active">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<span class="glyphicon glyphicon-road" aria-hidden="true"></span>
					Driver <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/driverTravels">Show my travels</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="/addTravel">Add a travel</a></li>
				</ul>
			</li>

			<li>
				<a href="/logOut">
					<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
					Log Out
				</a>
			</li>

		</ul>


		<!-- Body -->

		{% if travels.get() == None %}

			<div class="alert alert-warning" role="alert">
				<strong>Warning !</strong> You do not have any travels set yet. <a href="/addTravel">Add one</a>
			</div>

		{% endif %}

		<div id="driverTravels" class="container">
		{% for travel in travels %}

			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-8">
							<h3 class="panel-title"><strong>{{ travel.datetime_departure.strftime('%d /%m/%Y @ %H:%M') }} : </strong> {{ travel.departure|capitalize }} - {{ travel.arrival|capitalize }}</h3>
						</div>

						<div class="btn-group">
								<a type="button" href="/modifyTravel?id={{ travel.key().id() }}" class="btn btn-warning">
						        	<span class="glyphicon glyphicon-edit"></span>
						        </a>

								<a type="button" href="/deleteTravel?id={{ travel.key().id() }}" class="btn btn-danger">
						        	<span class="glyphicon glyphicon-trash"></span>
						        </a>
				        </div>

			        </div>
			    </div>

				<div class="panel-body">
					<p><strong>{{ travel.places_remaining }}</strong> places remaining</p>
					<div class="inline_panel">
						<p><strong>{{ travel.price }}$</strong></p>

						{% if travel.animal_ok %}
							<img src="../scripts/img/animal.jpg" alt="Animal OK">
						{% else %}
							<img src="../scripts/img/no_animal.jpg" alt="NO Animal">
						{% endif %}

						{% if travel.smoking_ok %}
							<img src="../scripts/img/smoking.jpg" alt="Smoking OK">
						{% else %}
							<img src="../scripts/img/no_smoking.jpg" alt="NO Smoking">
						{% endif %}

						{% if travel.big_luggage_ok %}
							<img src="../scripts/img/suitcase.jpg" alt="Suitcase">
						{% else %}
							<img src="../scripts/img/small_bag.jpg" alt="Small bag">
						{% endif %}
					</div>
				</div>
			</div>

		{% endfor %}
		</div>


	{% endif %}

</body>

</html>