<!-- Relative css file -->
<link rel="stylesheet" type="text/css" href="../scripts/listTravels.css">


{% if isNew == "added" %}
	<script>
		$(document).ready(function(){
			var success = document.getElementById("statusSuccess");			
			success.lastChild.data = " Travel added to your lifts list";
			success.style.display = 'block';
		});
	</script>

{% elif isNew == "modified" %}
	<script>
		$(document).ready(function(){
			var success = document.getElementById("statusSuccess");			
			success.lastChild.data = " Travel has been modified";
			success.style.display = 'block';
		});
	</script>

{% elif noTravel %}
	<script>
		$(document).ready(function(){
			var warning = document.getElementById("statusWarning");			
			var msg = " You do not have any travels set yet. <a href='/addTravel'>Add one</a>";
			$(warning).html( $(warning).html() + msg);
			warning.style.display = 'block';
		});
	</script>
{% endif %}


<!-- Content : Travels where user is the driver -->
<div id="driverTravels" class="container">
{% for travel in travels %}

	<!-- A travel HTML instance -->
	<div class="panel panel-primary">

		<!-- Title of a Travel + Buttons -->
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-8">
					<h3 class="panel-title">
						<strong>
							{{ travel.schedule_day|capitalize}}, 
							
							{% if travel.schedule_hour < 10 %}
								{{travel.schedule_hour|string+'0 : '}}
							{% else %}
								{{travel.schedule_hour|string+' : '}}
							{% endif %}


							
							{% if travel.schedule_minute < 10 %}
								{{travel.schedule_minute|string+'0 '}}
							{% else %}
								{{travel.schedule_minute|string}}
							{% endif %}
						</strong>
						<br>
						{{ travel.departure|join(', ')|capitalize }} 
						<span class="glyphicon glyphicon-arrow-right"> </span>
						{{ travel.arrival|join(', ')|capitalize }}
					</h3>
				</div>

				<div class="btn-group">
						<button type="button" class="btn btn-warning" onclick="modifyTravel({{ travel.key().id() }});" >
							<span class="glyphicon glyphicon-edit"></span>
						</button>

						<button type="button" class="btn btn-danger" onclick="deleteTravel( {{travel.key().id() }});">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
				</div>

			</div>
		</div>

		<!-- Travel characteristics -->
		<div class="panel-body">
			<p><strong>{{ travel.places_remaining }}</strong> places remaining</p>
			<div class="inline_panel">
				<p><strong>{{ travel.price }}$</strong></p>

				{% if travel.pref_animal == 'ok' %}
					<img src="../scripts/img/animal.jpg" alt="Animal OK">
				{% elif travel.pref_animal == 'nok' %}
					<img src="../scripts/img/no_animal.jpg" alt="NO Animal">
				{% endif %}

				{% if travel.pref_smoking == 'ok' %}
					<img src="../scripts/img/smoking.jpg" alt="Smoking OK">
				{% elif travel.pref_smoking == 'nok' %}
					<img src="../scripts/img/no_smoking.jpg" alt="NO Smoking">
				{% endif %}

				{% if travel.pref_big_luggage == 'ok' %}
					<img src="../scripts/img/suitcase.jpg" alt="Suitcase">
				{% elif travel.pref_big_luggage == 'nok'%}
					<img src="../scripts/img/small_bag.jpg" alt="Small bag">
				{% endif %}
			</div>
		</div>
	</div>

{% endfor %}
</div>


<!-- Javascript to handle buttons click -->
<script type="text/javascript">

function deleteTravel(travel_id){
	if ( confirm('Are you sure you want to delte this travel ?') ){

		$.ajax({
			type: "POST",
			url: "/deleteTravel",
			dataType: 'json',
			data: JSON.stringify({ "travel_id" : travel_id	})
			})
			.done(function( data ) { 
				var success = document.getElementById("statusSuccess");
				success.lastChild.data = "Travel correctly removed. Refreshing...";
				success.style.display = "block";
				window.setTimeout(function(){
					window.location.replace("driverTravels");
				}, 1000);
			});	
	}
}

function modifyTravel(travel_id){
	if ( confirm('Do you want to modify this travel ?') ){
		console.log("Travel id received = "+travel_id);
		window.location.replace("/modifyTravel?id="+travel_id);
	}
}

</script>

