<!-- inclusion of relatives functions -->
<script type="text/javascript" src="/scripts/js/forgottenPwdForm.js" ></script>

<!-- Log In section : include jinja template to retrieve information from server if necessary-->
<form id="forgottenPWDForm" method="post" onsubmit="return submitForgottenPWDForm();" action="/forgottenPWD">



	<button id="deployForgottenPWDForm" type="button" class="btn btn-primary">Forget your password ?</button>

	{% if error_email %} <br><span style="color:red; float:center">{{error_email}}</span><br> {% endif %}

	<!-- Accept only email address -->
	{% if error_email %}	<div class='form-group forgot-pwd' style='display:block'>
	{% else %}	<div class='form-group forgot-pwd' style='display:none'>
	{% endif %}	
		<label for="userForgotPWD">NickName or Email address</label> 
		<span id="userForgotPWDEmpty" class="error-form" style="display:none; color:red; float:right">	You must enter this information</span>			
		<input id="userForgotPWD" name="userForgotPWD" class="form-control" value="{{userForgotPWD}}">
	</div>

	{% if error_email %}	<div class='form-group forgot-pwd' style='display:block'>
	{% else %}	<div class='form-group forgot-pwd' style='display:none'>
	{% endif %}	
		<button id="submitForgottenPWDBtn" type="submit" class="btn btn-primary">Confirm !!</button>
	</div>

</form>

<script>
$(document).ready(function(e){

	console.log("executed forgotten pwd");

	//sign Up Form management
	var deployForgottenPWDForm = document.getElementById('deployForgottenPWDForm');
	deployForgottenPWDForm.onclick = function(){

		//Show/hide all content 
		var forgotPWDClass = document.getElementsByClassName('form-group forgot-pwd');
		for(i=0; i<forgotPWDClass.length; i++){
			if(forgotPWDClass[i].style.display !== 'none'){
				forgotPWDClass[i].style.display = 'none';
				console.log("hide");
			}
			else{
				forgotPWDClass[i].style.display = 'block';
				console.log("block !");
			}
		}

		//Reset span visibility
		var forgotSpan = document.getElementsByClassName('error-form');
		for(i=0; i<forgotSpan.length; i++){
			forgotSpan[i].style.display = 'none';
		}

		//Invert text of button
		var textBtn = deployForgottenPWDForm.firstChild;
		textBtn.data = textBtn.data == "Forget your password ?" ? "Close" : "Forget your password ?";
	};
});
</script>
