<!-- inclusion of relatives functions -->
<script type="text/javascript" src="/scripts/js/tools.js" ></script>

<button id="deployLogInForm" type="button" class="btn btn-primary">Log In</button>

<div class='form-group log-in' style='display:none'>
	<span id="error_notif_logIn" style="font-size:25px; color:red; float:center"></span>
</div> 

<!-- User ID (nick or email) -->
<div class='form-group log-in' style='display:none'>
	<label for="userLogData">NickName of Email address</label>
	<input id="userLogData" class="form-control">
</div>


<!-- Password input -->
<div class='form-group log-in' style='display:none'>
	<label for="passwordLogIn">Password</label>
	<input id="passwordLogIn" class="form-control" type="password" placeholder="Password">
</div>

<!-- Submit button -->
<div class='form-group log-in' style='display:none'>
	<button id="submitLogInBtn" type="submit" class="btn btn-primary" onclick="submitLogIn();">Log In !!</button>
</div>

<script>
$(document).ready(function(e){

	console.log("executed log in");

	//sign Up Form management
	var is_deployed = false;
	var deployLogInForm = document.getElementById('deployLogInForm');
	deployLogInForm.onclick = function(){

		console.log("is deployed : "+is_deployed);
		is_deployed = !is_deployed;

		//Show/hide all content
		var LogInClass = document.getElementsByClassName('form-group log-in');
		for(i=0; i<LogInClass.length; i++){
			if(LogInClass[i].style.display !== 'none'){
				LogInClass[i].style.display = 'none';				
			}
			else{
				LogInClass[i].style.display = 'block';
				console.log("block !");
			}
		}

		//Invert text of button & reset span content
		var textBtn = deployLogInForm.firstChild;
		if (is_deployed){
			textBtn.data = "Close";	
		}
		else{
			document.getElementById("error_notif_logIn").innerHTML = "";			
			textBtn.data = "Log In";
			var input = document.getElementById("userLogData");
			input.value = "";
			input = document.getElementById("passwordLogIn");
			input.value = '';
		}
	};
});


function submitLogIn(){
	var is_email = validateEmail($("#userLogData").val());

	$.ajax({
	  type: "POST",
	  url: "/logIn",
	  dataType: 'json',
	  data: JSON.stringify({ "nickname": $("#userLogData").val(), 
							 "is_email": is_email,
							  "password": $("#passwordLogIn").val()})
	})
	.done(function( data ) { 		
		if (data['error_login']){
			document.getElementById("error_notif_logIn").innerHTML = data['error_login_msg'];
		}
		else{
			window.location.replace("/");
		}

	});
};


</script>
