<!-- Inclusion of the relative css -->
<link rel="stylesheet" type="text/css" href="../scripts/formTravel.css">


<!-- Inclusion of google map and relative functions -->
<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script type="text/javascript" src="/scripts/js/gmap.js" ></script>
<script type="text/javascript" src="/scripts/js/travel.js" ></script>


<script>
//Add the google maps to dom and call the init function of gmap.js
google.maps.event.addDomListener(window, 'load', initializeGoogleMapsModifyer);
</script>



<!-- Success or error banner -->
<div id="addSuccess" class="alert alert-success" role="alert" style="display:none">
	<strong>Done !</strong> 
	Modification correctly saved. Redirection to your travel list.
</div>

<div id="addError" class="alert alert-danger error" role="alert" style="display:none">
	<strong>Oups !</strong> There has been an error.
</div>


<!-- Modify travel form -->
<div class="jumbotron">

	<h1 class="text-primary">Modify a travel</h1>

	<input type="hidden" id="travel_id_modif" name="travel_id_modif" value="{{ travel.key().id() }}">

	<!-- Departure / Arrival section -->
	<div class="container-fluid">
		<div class="form-group col-md-6">
			<label for="departure_modify">Departure :</label>
			<input id="departure_modify" class="form-control alert-departure-arival" value="{{travel.departure|join(', ')}}"></input>
			<br>
			<div id="gmapDeparture_modify" style="width:70%;height:350px;"></div>
		</div>

		<div class="form-group col-md-6">
			<label for="arrival_modify">Arrival : </label>
			<input id="arrival_modify" class="form-control alert-departure-arival" value="{{travel.arrival|join(', ')}}"></input>
			<br>
			<div id="gmapArrival_modify" style="width:70%;height:350px;"></div>
		</div>
	</div>

	<!-- Schedule Section -->
	<div class="container-fluid">
		<div class="form-group col-md-4">
			<label for="departure-day">Departure day </label>			
			<select id="departure-day_modify" class="form-control" placeholder="Day" name="departure-day_modify">
				<option value="monday" 	
					{% if travel.schedule[0] == "monday" %}selected {% endif %}		>Monday 	</option>

				<option value="tuesday" 
					{% if travel.schedule[0] == "tuesday" %}selected {% endif %}	>Tuesday 	</option>

				<option value="wednesday" 
					{% if travel.schedule[0] == "wednesday" %}selected {% endif %}	>Wednesday </option>

				<option value="thursday" 
					{% if travel.schedule[0] == "thursday" %}selected {% endif %}	>Thursday 	</option>

				<option value="friday" 	
					{% if travel.schedule[0] == "friday" %}selected {% endif %}		>Friday 	</option>

				<option value="saturday" 
					{% if travel.schedule[0] == "saturday" %}selected {% endif %}	>Saturday 	</option>

				<option value="sunday" 	
					{% if travel.schedule[0] == "sunday" %}selected {% endif %}		>Sunday 	</option>

			</select>
			<span id="error_datetime" class ="error" style="color:red; display:none"></span>
		</div>

		<div class="form-group col-md-4">
			<label for="departure-hour">Departure Hour</label>
			<select id="departure-hour_modify" class="form-control" name="departure-hour_modify">
				{% for i in range(24) %}

					{% if i < 10 %}
						{% if i == 0 %}
							<option value="{{ i }}" 
								{% if travel.schedule[1]|int == i %} selected {% endif %}>
								{{ '0' + i|string + ' h' }}
							</option>
						{% else %}
							<option value="{{ i }}" 
								{% if travel.schedule[1]|int == i %} selected {% endif %}>
								{{ '0' + i|string + ' h' }}
							</option>
						{% endif %}
					{% else %}
						<option value="{{ i }}" 
							{% if travel.schedule[1]|int == i %} selected {% endif %}>
							{{ i|string + ' h' }}
						</option>
					{% endif %}

				{% endfor %}
			</select>
		</div>

		<div class="form-group col-md-4">
			<label for="departure-minutes">Minutes</label>
			<select id="departure-minutes_modify" class="form-control" name="departure-minutes_modify">
				{% for i in range(0, 60, 5) %}

					{% if i < 10 %}
						{% if i == 0 %}
							<option value="{{ i }}" 
								{% if travel.schedule[2]|int == i %} selected {% endif %}>
								{{ '0' + i|string + ' min' }}
							</option>
						{% else %}
							<option value="{{ i }}" 
								{% if travel.schedule[2]|int == i %} selected {% endif %}>
								{{ '0' + i|string + ' min' }}
							</option>
						{% endif %}

					{% else %}
						<option value="{{ i }}"
							{% if travel.schedule[2]|int == i %} selected {% endif %}>
							{{ i|string + ' min' }}
						</option>
					{% endif %}

				{% endfor %}
			</select>
		</div>
	</div>

	<!-- Seats / Price Section -->
	<div class="container-fluid">
		<div class="form-group col-md-6">
			<label for="seats">Seats available :</label>
			<select class="form-control" id="seats_modify" name="seats">
				<option value="1" {% if travel.places_remaining == 1 %}selected{% endif %}>1</option>
				<option value="2" {% if travel.places_remaining == 2 %}selected{% endif %}>2</option>
				<option value="3" {% if travel.places_remaining == 3 %}selected{% endif %}>3</option>
				<option value="4" {% if travel.places_remaining == 4 %}selected{% endif %}>4</option>
				<option value="5" {% if travel.places_remaining == 5 %}selected{% endif %}>5</option>
			</select>
		</div>

		<div class="form-group col-md-6">
			<label for="price">Price : </label>
			<input class="form-control" id="price_modify" type="number" maxlength="3" name="price" value="{{ travel.price }}">
			$
			<span id="error_price" class ="error" style="color:red; display:none"></span>
		</div>
	</div>

	<!-- Preferences -->
	<div class="container-fluid">

		<h3 > Modify your travel preferences </h3>

		<!-- Animals -->
		<div class="form-group col-md-12">
			<label class="radio-inline col-md-3">
				<input type="radio" name="animals" value="ok" class="preferences"{% if travel.animal_ok == "ok" %}checked{% endif %}>Authorized  
				<img src="../scripts/img/animal.jpg">
			</label>
			<label class="radio-inline col-md-3">
				<input type="radio" name="animals" value="nok" class="preferences"{% if travel.animal_ok == "nok" %}checked{% endif %}>Prohibited  
				<img src="../scripts/img/no_animal.jpg">
			</label>
		</div>

		<!-- Smoking -->
		<div class="form-group col-md-12">
			<label class="radio-inline col-md-3">
				<input type="radio" name="smoking" value="ok" class="preferences"{% if travel.smoking_ok == "ok" %}checked{% endif %}>Authorized  
				<img src="../scripts/img/smoking.jpg">
			</label>
			<label class="radio-inline col-md-3">
				<input type="radio" name="smoking" value="nok" class="preferences"{% if travel.smoking_ok == "nok" %}checked{% endif %}>Prohibited  
				<img src="../scripts/img/no_smoking.jpg">
			</label>
		</div>

		<!-- Luggage -->
		<div class="form-group col-md-12">
			<label class="radio-inline col-md-3">
				<input type="radio" name="luggage" value="nok" class="preferences"{% if travel.big_luggage_ok == "nok" %}checked{% endif %}>Small bag  
				<img src="../scripts/img/small_bag.jpg">
			</label>
			<label class="radio-inline col-md-3">
				<input type="radio" name="luggage" value="ok" class="preferences"{% if travel.big_luggage_ok == "ok" %}checked{% endif %}>Suitcase  
				<img src="../scripts/img/suitcase.jpg">
			</label>
		</div>

	 </div>

	<!-- Call of travel.js/submitModificationTravel function to perform Ajax Request -->
	<button type="submit" class="btn btn-success" onclick="submitModificationTravel();">Submit</button>

</div>