<link rel="stylesheet" type="text/css" href="../scripts/formTravel.css">

<!-- Success or error banner -->
{% if error == True %}
	<div class="alert alert-danger" role="alert">
		<strong>Oups !</strong> There has been an error.
	</div>
{% endif %}

{% if success_booking == 'False' %}
	<div class="alert alert-danger" role="alert">
		<strong>Oups !</strong> You cannot book your own travels.
	</div>
{% endif %}


<!-- Body -->
<div class="jumbotron">

	<h1 class="text-primary">Look for a travel</h1>

	<form role="form" method="post" action="/searchTravel">

		<div class="form-group col-md-6">
			<label for="departure">Departure :</label>
			<select class="form-control" name="departure">
				<option value="saguenay">Saguenay, QC</option>
				<option value="quebec">Québec, QC</option>
				<option value="montreal">Montréal, QC</option>
			</select>
		</div>

		<div class="form-group col-md-6">
			<label for="arrival">Arrival : {% if error_samedeparture %}<span style="color:red;"> {{ error_samedeparture }}</span>{% endif %}</label>
			<select class="form-control" name="arrival">
				<option value="saguenay">Saguenay, QC</option>
				<option value="quebec">Québec, QC</option>
				<option value="montreal">Montréal, QC</option>
			</select>
		</div>

		<div class="form-group col-md-4">
			<label for="departure-date">Departure date</label>
			<input class="form-control" type="date" placeholder="YYYY-MM-DD" name="departure-date" value={{ today }}>
		</div>

		<div class="form-group col-md-4">
			<label for="departure-hour">Hour</label>
			<select class="form-control" name="departure-hour">
				{% for i in range(24) %}

					{% if i < 10 %}
						<option value="{{ i }}">{{ '0' + i|string + ' h' }}</option>
					{% else %}
						<option value="{{ i }}">{{ i|string + ' h' }}</option>
					{% endif %}

				{% endfor %}
			</select>
		</div>

		<div class="form-group col-md-4">
			<label for="departure-minutes">Minutes</label>
			<select class="form-control" name="departure-minutes">
				{% for i in range(60) %}

					{% if i < 10 %}
						<option value="{{ i }}">{{ '0' + i|string }}</option>
					{% else %}
						<option value="{{ i }}">{{ i|string }}</option>
					{% endif %}

				{% endfor %}
			</select>
		</div>


		<!-- Preferences -->
		<div id="preferences_search" class="container">

			<div class="form-group col-md-12">
				<h3>Animals</h3>
				<label class="radio-inline col-md-3">
					<input type="radio" name="animals" value="ni" {% if user.animals == "ni" %}checked{% endif %}>Not important 
					<img src="../scripts/img/not_important.jpg">
				</label>
				<label class="radio-inline col-md-3">
					<input type="radio" name="animals" value="ok" {% if user.animals == "ok" %}checked{% endif %}>Authorized  
					<img src="../scripts/img/animal.jpg">
				</label>
				<label class="radio-inline col-md-3">
					<input type="radio" name="animals" value="nok" {% if user.animals == "nok" %}checked{% endif %}>Prohibited  
					<img src="../scripts/img/no_animal.jpg">
				</label>
			</div>

			<div class="form-group col-md-12">
				<h3>Smoking</h3>
				<label class="radio-inline col-md-3">
					<input type="radio" name="smoking" value="ni" {% if user.smoking == "ni" %}checked{% endif %}>Not important 
					<img src="../scripts/img/not_important.jpg">
				</label>
				<label class="radio-inline col-md-3">
					<input type="radio" name="smoking" value="ok" {% if user.smoking == "ok" %}checked{% endif %}>Authorized  
					<img src="../scripts/img/smoking.jpg">
				</label>
				<label class="radio-inline col-md-3">
					<input type="radio" name="smoking" value="nok" {% if user.smoking == "nok" %}checked{% endif %}>Prohibited  
					<img src="../scripts/img/no_smoking.jpg">
				</label>
			</div>

			<div class="form-group col-md-12">
				<h3>Luggage space</h3>
				<label class="radio-inline col-md-3">
					<input type="radio" name="luggage" value="ni" {% if user.big_luggage == "ni" %}checked{% endif %}>Not important 
					<img src="../scripts/img/not_important.jpg">
				</label>
				<label class="radio-inline col-md-3">
					<input type="radio" name="luggage" value="sm_bag" {% if user.big_luggage == "nok" %}checked{% endif %}>Small bag  
					<img src="../scripts/img/small_bag.jpg">
				</label>
				<label class="radio-inline col-md-3">
					<input type="radio" name="luggage" value="suitcase" {% if user.big_luggage == "ok" %}checked{% endif %}>Suitcase  
					<img src="../scripts/img/suitcase.jpg">
				</label>
			</div>

		 </div>


		<button type="submit" class="btn btn-success">

			Search
			<span class="glyphicon glyphicon-search"></span>
		</button>

	</form>

</div>