<!-- Include of the dedicated stylesheet -->
<link rel="stylesheet" type="text/css" href="../scripts/formTravel.css">

<!-- Inclusion of google map and relative functions -->
<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script type="text/javascript" src="/scripts/js/gmap.js" ></script>
<script type="text/javascript" src="/scripts/js/travel.js" ></script>

<!-- Research Form -->
<div class="jumbotron">

	<h1 class="text-primary">Look for a travel</h1>

	<!-- Departure / Arrival section -->
	<div class="container-fluid">
		<div class="form-group col-md-6">
			<label for="departure_search">Departure :</label>
			<input id="departure_search" class="form-control alert-departure-arival"></input>
			<br>
		</div>

		<div class="form-group col-md-6">
			<label for="arrival_search">Arrival : </label>
			<input id="arrival_search" class="form-control alert-departure-arival"></input>
			<br>
		</div>
	</div>


	<!-- Schedule Section -->
	<div class="container-fluid">
		<div class="form-group col-md-4">
			<label for="departure-day_search">Departure day </label>			
			<select id="departure-day_search" class="form-control" placeholder="Day" name="departure-day_search">
				<option value="monday" 		selected >Monday</option>
				<option value="tuesday" 			 >Tuesday</option>
				<option value="wednesday" 			 >Wednesday</option>
				<option value="thursday" 			 >Thursday</option>
				<option value="friday" 				 >Friday</option>
				<option value="saturday" 			 >Saturday</option>
				<option value="sunday" 				 >Sunday</option>
			</select>
		</div>
	</div>

	<!-- Price Section -->
	<div class="container-fluid">
		<div class="form-group col-md-6">
			<label for="price_search">Higher price : </label>
			<input id="price_search" type="number" class="form-control" maxlength="3"> $
		</div>
	</div>


	<!-- Preferences -->
	<div class="container-fluid">

		<h3 > Choose your travel preferences </h3>

		<!-- Animals -->
		<div class="form-group col-md-12">
			<label class="radio-inline col-md-3">
				<input type="radio" name="animals" value="ok" class="preferences"{% if user.animals == "ok" %}checked{% endif %}>Authorized  
				<img src="../scripts/img/animal.jpg">
			</label>
			<label class="radio-inline col-md-3">
				<input type="radio" name="animals" value="nok" class="preferences"{% if user.animals == "nok" %}checked{% endif %}>Prohibited  
				<img src="../scripts/img/no_animal.jpg">
			</label>
		</div>

		<!-- Smoking -->
		<div class="form-group col-md-12">
			<label class="radio-inline col-md-3">
				<input type="radio" name="smoking" value="ok" class="preferences"{% if user.smoking == "ok" %}checked{% endif %}>Authorized  
				<img src="../scripts/img/smoking.jpg">
			</label>
			<label class="radio-inline col-md-3">
				<input type="radio" name="smoking" value="nok" class="preferences"{% if user.smoking == "nok" %}checked{% endif %}>Prohibited  
				<img src="../scripts/img/no_smoking.jpg">
			</label>
		</div>

		<!-- Luggage -->
		<div class="form-group col-md-12">
			<label class="radio-inline col-md-3">
				<input type="radio" name="luggage" value="nok" class="preferences"{% if user.big_luggage == "nok" %}checked{% endif %}>Small bag  
				<img src="../scripts/img/small_bag.jpg">
			</label>
			<label class="radio-inline col-md-3">
				<input type="radio" name="luggage" value="ok" class="preferences"{% if user.big_luggage == "ok" %}checked{% endif %}>Suitcase  
				<img src="../scripts/img/suitcase.jpg">
			</label>
		</div>

	</div>

	<!-- Call of travel.js/searchTravel function to perform Ajax Request -->
	<button class="btn btn-success" onclick="searchTravel();">
		Search <span class="glyphicon glyphicon-search"></span>
	</button>
</div>



<script>


$(document).ready(function(e){
	/*Enable AutoCompletion of departure and arrival via gmap.js*/
	initializeResearchAutocomplete();

	/*Handle date & price specifity : only one can have a value*/
	//Ensure only one input between date and price has a value
	$("#date_search").focus(function() {
		var price = document.getElementById("price_search");
		price.value = "";
		console.log("date : "+price.value);
	});

	$("#price_search").focus(function() {
		var date = document.getElementById("date_search");
		date.value = "";
		console.log("date : "+date.value);
	});


});
</script>


