<!-- inclusion of relatives functions -->
<script type="text/javascript" src="/scripts/js/tools.js" ></script>

<!-- button to display the form -->
<button id="deploySignUpForm" type="button" class="btn btn-primary">Sign Up</button>

<!-- Name input (not mandatory) -->
<div class='form-group sign-up' style='display:none'>
	<label for="name">Name</label>
	<input id="name" class="form-control">
</div>


<!-- Firstname input (not mandatory) -->
<div class='form-group sign-up' style='display:none'>
	<label for="firstName">Firstname</label>
	<input id="firstName" class="form-control">
</div>


<!-- nickName input (mandatory) -->
<div class='form-group sign-up' style='display:none'>
	<label for="nickName">Nickname *</label>
	<span id="error_notif_nick" style="font-size:25px; color:red; float:center"></span>
	<input id="nickName" class="form-control">
</div>


<!-- email input (mandatory) -->
<div class='form-group sign-up' style='display:none'>
	<label for="emailInput">Email address *</label>
	<span id="error_notif_mail" style="font-size:25px; color:red; float:center"></span>
	<input id="email" class="form-control" type="email" placeholder="Email" >
</div>


<!-- password input (mandatory) -->
<div class='form-group sign-up' style='display:none'>
	<label for="password">Password</label>
	<span id="error_notif_pass" style="font-size:25px; color:red; float:center"></span>
	<input id="passwordSignUp" class="form-control" type="password" placeholder="Password">
</div>


<!-- password validation input (mandatory) -->
<div class='form-group sign-up' style='display:none'>
	<label for="passValidate">Enter the chosen password again</label>
	<span id="error_notif_pass_confirm" style="font-size:25px; color:red; float:center"></span>
	<input id="passValidate" class="form-control" type="password" placeholder="Password">
</div>

<!-- submit button -->
<div class='form-group sign-up' style='display:none'>
	<button id="submitSignUpBtn" type="submit" class="btn btn-primary" onclick="submitSignUp();">Sign Up !!</button>
</div>


<script>
$(document).ready(function(e){

	console.log("executed sign up");

	//sign Up Form management
	var deploySignUpForm = document.getElementById('deploySignUpForm');
	deploySignUpForm.onclick = function(){

		//Show/hide all forms
		var signUpClass = document.getElementsByClassName('form-group sign-up');
		for(i=0; i<signUpClass.length; i++){
			if(signUpClass[i].style.display !== 'none'){
				signUpClass[i].style.display = 'none';
				console.log("hide");
			}
			else{
				signUpClass[i].style.display = 'block';
				console.log("block !");
			}
		}

		//Invert text of button
		var textBtn = deploySignUpForm.firstChild;
		textBtn.data = textBtn.data == "Sign Up" ? "Close" : "Sign Up";

		
		if (textBtn.data == "Sign Up"){
			//Reset span messages
			document.getElementById("error_notif_nick").innerHTML = "";
			document.getElementById("error_notif_mail").innerHTML = "";
			document.getElementById("error_notif_pass").innerHTML = "";
			document.getElementById("error_notif_pass_confirm").innerHTML = "";
			
			//Reset input content
			var input = document.getElementById("name");
			input.value = '';
			input = document.getElementById("firstName");
			input.value = '';
			input = document.getElementById("nickName");
			input.value = '';
			input = document.getElementById("email");
			input.value = '';
			input = document.getElementById("passwordSignUp");
			input.value = '';
			input = document.getElementById("passValidate");
			input.value = '';
			input = document.getElementById("userLogData");
			input.value = '';
		}

	};
});


function submitSignUp(){
	$.ajax({
	  type: "POST",
	  url: "/signUp",
	  dataType: 'json',
	  data: JSON.stringify({"name" : $("#name").val(),
							"firstName" : $("#firstName").val(),
							"nickName" : $("#nickName").val(),
							"email" : $("#email").val(),
							"is_email" : $(validateEmail($("#email").val())),
							"password" : $("#passwordSignUp").val(),
							"passValidate" : $("#passValidate").val()
							})
	})
	.done(function( data ) { 		
		console.log("data received back");

		if (data['error']){

			if (data['error_notif_nick']){
				document.getElementById("error_notif_nick").innerHTML = data['error_nick_msg'];
			}else{
				document.getElementById("error_notif_nick").innerHTML = "";
			}

			if (data['error_notif_mail']){
				document.getElementById("error_notif_mail").innerHTML = data['error_mail_msg'];				
			}else{
				document.getElementById("error_notif_mail").innerHTML = "";
			}

			if (data['error_notif_pass']){
				document.getElementById("error_notif_pass").innerHTML = data['error_pass_msg'];				
			}else{
				document.getElementById("error_notif_pass").innerHTML = "";
			}

			if (data['error_notif_pass_confirm']){
				document.getElementById("error_notif_pass_confirm").innerHTML = data['error_pass_confirm_msg'];	
			}else{
				document.getElementById("error_notif_pass_confirm").innerHTML = "";
			}

		}else{
			console.log("no error");
			window.location.replace("/");
		}
	});
};

</script>
