<link rel="stylesheet" type="text/css" href="../scripts/listTravels.css">

<!-- Body -->

{% if travels.get() == None %}

	<div class="alert alert-info" role="alert">
		<strong>Nothing here !</strong> You did not book any travel yet. <a href="/searchTravel">Book one</a>
	</div>

{% endif %}

<div id="driverTravels" class="container">
{% for travel in travels %}

	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-8">
					<h3 class="panel-title"><strong>{{ travel.datetime_departure.strftime('%d /%m/%Y @ %H:%M') }} : </strong> {{ travel.departure|capitalize }} - {{ travel.arrival|capitalize }}</h3>
				</div>

				<div class="btn-group">
						<a type="button"
						{% for tuple in couples_id_mail %}
							{% if tuple[0] == travel.key().id() %}
								href="mailto:{{ tuple[1] }}"
							{% endif %}
						{% endfor %}
						class="btn btn-info">
							Contact
				        	<span class="glyphicon glyphicon-envelope"></span>
				        </a>
		        </div>

	        </div>
	    </div>

		<div class="panel-body">
			<p><strong>{{ travel.places_remaining }}</strong> places remaining</p>
			<div class="inline_panel">
				<p><strong>{{ travel.price }}$</strong></p>

				{% if travel.animal_ok == 'ok' %}
					<img src="../scripts/img/animal.jpg" alt="Animal OK">
				{% elif travel.animal_ok == 'nok' %}
					<img src="../scripts/img/no_animal.jpg" alt="NO Animal">
				{% endif %}

				{% if travel.smoking_ok == 'ok' %}
					<img src="../scripts/img/smoking.jpg" alt="Smoking OK">
				{% elif travel.smoking_ok == 'nok' %}
					<img src="../scripts/img/no_smoking.jpg" alt="NO Smoking">
				{% endif %}

				{% if travel.big_luggage_ok == 'ok' %}
					<img src="../scripts/img/suitcase.jpg" alt="Suitcase">
				{% elif travel.big_luggage_ok == 'nok'%}
					<img src="../scripts/img/small_bag.jpg" alt="Small bag">
				{% endif %}
			</div>
		</div>
	</div>

{% endfor %}
</div>

