<!-- Include of the dedicated stylesheet -->
<link rel="stylesheet" type="text/css" href="../scripts/userPage.css">
<link rel="stylesheet" type="text/css" href="../scripts/listTravels.css">

<!-- inclusion of relatives functions -->
<script type="text/javascript" src="/scripts/js/tools.js" ></script>



<!-- User Main Data Section  -->
<div class="jumbotron container-fluid" style="margin-top: 30px;">


	<h1 class="text-primary">{{member.nickName}} Profile</h1>
	<hr>

	<!-- User personnal data section -->
	<!-- each section provide a piece of data of the user and a modifier button -->
	<div class="col-md-6 container userDataSection">

		<!-- Name section -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-8">
						<h3 class="panel-title" style="float:left" ><strong>Name </strong></h3>
					</div>


					{% if user == member %}
						<div class="btn-group">
							<button class="btn btn-warning" onclick="openDiv('enterName');">
								<span class="glyphicon glyphicon-edit"></span>
							</button>
						</div>
					{% endif %}


				</div>
			</div>

			<div class="panel-body">				
				<p style="float:left" ><strong>{{member.name}}</strong></p>				
			</div>

			<!-- Modifier -->
			<div id="enterName" class="panel-footer userData" style="display:none">	
				<input id="newName" class="panel-title" style="float:left" placeholder='Enter your name'></input>
				<button class="glyphicon glyphicon-ok-circle btn-success" onclick="submitChange('name', 'newName', 'enterName');">Change</button>
				<button class="glyphicon glyphicon-remove-circle btn-primary" onclick="closeDiv('enterName');">Cancel</button>
			</div>

		</div>


		<!-- FirstName section -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-8">
						<h3 class="panel-title" style="float:left" ><strong>Firstname </strong></h3>
					</div>


					{% if user == member %}
						<div class="btn-group">
							<a type="button" href="#" class="btn btn-warning" onclick="openDiv('enterFirstname');" >
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</div>
					{% endif %}
				</div>
			</div>

			<div class="panel-body">
				<p style="float:left"><strong>{{member.firstName}}</strong></p>				
			</div>

			<!-- Modifier -->
			<div id="enterFirstname" class="panel-footer userData" style="display:none">	
				<input id="newFirstname" class="panel-title" style="float:left" placeholder='Enter your firstname'></input>
				<button class="glyphicon glyphicon-ok-circle btn-success" onclick="submitChange('firstName', 'newFirstname', 'enterFirstname');">Change</button>
				<button class="glyphicon glyphicon-remove-circle btn-primary" onclick="closeDiv('enterFirstname');">Cancel</button>
			</div>

		</div>


		<!-- Email section -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-8">
						<h3 class="panel-title" style="float:left" ><strong>Email address </strong></h3>
					</div>

					{% if user == member %}
						<div class="btn-group">
							<a type="button" href="#" class="btn btn-warning" onclick="openDiv('enterEmail');">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</div>
					{% endif %}
				</div>
			</div>

			<div class="panel-body">
				<p style="float:left"><strong>{{member.email}}</strong></p>				
			</div>

			<!-- Modifier -->
			<div id="enterEmail" class="panel-footer userData" style="display:none">	
				<input id="newEmail" class="panel-title" style="float:left" placeholder='Enter the new email address'></input>
				<button class="glyphicon glyphicon-ok-circle btn-success" onclick="submitChange('email', 'newEmail', 'enterEmail');">Change</button>
				<button class="glyphicon glyphicon-remove-circle btn-primary" onclick="closeDiv('enterEmail');">Cancel</button>
			</div>
		</div>


		<!-- Change password section -->
		{% if user == member %}
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-8">
							<h3 class="panel-title" style="float:left" ><strong>Change Password ?</strong></h3>
						</div>

						<div class="btn-group">
							<a type="button" href="#" class="btn btn-warning" onclick="openDiv('changePass');">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</div>
					</div>
				</div>

				<!-- Modifier -->
				<div id="changePass" class="panel-footer" style="display:none">

					<div class="userData">
						<input id="oldPass" type="password" class="panel-title" style="float:left" placeholder='Enter the current password'></input>	
						<button class="glyphicon glyphicon-ok-circle btn-success" onclick="changePassword('oldPass', 'newPass', 'changePass');">Change</button>				
					</div>

					<div class="userData">
						<input id="newPass" type="password" class="panel-title" style="float:left" placeholder='Enter the new password'></input>
						<button class="glyphicon glyphicon-remove-circle btn-primary" onclick="closeDiv('changePass');">Cancel</button>					
					</div>

				</div>
			</div>
		{% endif %}
		
	</div>
	
	<div class="col-md-6">

		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-8">
						<h3 class="panel-title" style="float:left" ><strong>Statistiques </strong></h3>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<dl style="text-align:left">
					{% for key, value in stats.iteritems() %}
						{%if key == 'nb_booking' %}
							<span>
								<strong>{{value |e }} </strong>
								travels already booked ! </span>
						{%elif key == 'nb_lifts' %}
							<span>
								<strong>{{value |e }} </strong>
								drives publicated ! </span>
						{% endif %}
					    <br>
					{% endfor %}			
				</dl>
			</div>
		</div>
		
	</div>

</div>

<!-- User Preferences Data Section -->
<div class="jumbotron container-fluid">
	<h3> PREFERENCES :</h3>

	<!-- Preference of the user -->
	<div class="userDataSection" >
		<label class="userPref"> 
			Animals 
			<select id="animals" name="prefAnimals" {% if user != member %} disabled {% endif %}>
				<option value="ni" {% if member.animals == "ni" %} selected {% endif %}>
					not important 
				</option>
				<option value="ok" {% if member.animals == "ok" %} selected {% endif %}>
					authorized
				</option>
				<option value="nok" {% if member.animals == "nok" %} selected {% endif %}>
					prohibited
				</option>
			</select>
		</label>

		<label class="userPref"> 
			Smoking 
			<select id="smoking" name="prefSmoking" {% if user != member %} disabled {% endif %}>
				<option value="ni" {% if member.smoking == "ni" %} selected {% endif %}>
					not important 
				</option>
				<option value="ok" {% if member.smoking == "ok" %} selected {% endif %}>
					authorized
				</option>
				<option value="nok" {% if member.smoking == "nok" %} selected {% endif %}>
					prohibited
				</option>
			</select>
		</label>

		<label class="userPref"> 
			Luggage 
			<select id="luggage" name="prefLuggage" {% if user != member %} disabled {% endif %}>
				<option value="ni" {% if member.big_luggage == "ni" %} selected {% endif %}>
					not important 
				</option>
				<option value="ok" {% if member.big_luggage == "ok" %} selected {% endif %}>
					big
				</option>
				<option value="nok" {% if member.big_luggage == "nok" %} selected {% endif %}>
					small
				</option>
			</select>
		</label>


		{% if user == member %}
			<div class="userPref">
				<button class='userPref btn-success' onclick="savePreferences();">
					Save Preferences 
				</button>
			</div>		
		 {% endif %}

	</div>
</div>




<script>

/*Handle input appropriate width*/
$(document).ready(function(e){
	//Set an appropriate width to password input : match the placeholder
	$("input[placeholder]").each(function () {
		$(this).attr('size', $(this).attr('placeholder').length);
	});
});


/*Call to open modifier divs*/
function openDiv(divName){
	console.log('open call');
	var targetDiv = document.getElementById(divName);
	targetDiv.style.display = 'block';

	//Give focus to the first input field within the opened div
	var children = targetDiv.children;
	for (var i = 0; i<children.length; i++){
		if (children[i].tagName == 'input' || children[i].tagName == 'INPUT'){
			children[i].focus();
			break;
		}
	}
}

/*Call to close modifier divs : flush the within content at the same time*/
function closeDiv(divName){
	console.log('close call');
	var targetDiv = document.getElementById(divName);
	targetDiv.style.display = 'none';
	targetDiv.firstChild.data = '';
}

/*Generic function to perform ajax request about a specific piece of data to change*/
function submitChange(attr, inputID, targetDiv){

	var input = document.getElementById(inputID);
	var inputData = input.value;

	if (attr == 'email' && ! validateEmail(inputData) ){
		var error_div = document.getElementById('statusError');
		error_div.lastChild.data = "Email address is not valid";
		openDiv('statusError');
		$("#statusError").fadeOut(5000);
		return false;
	}

	$.ajax({
	  type: "POST",
	  url: "/profile/{{user.nickName}}",
	  dataType: 'json',
	  data: JSON.stringify({ "attr": attr, "value": inputData})
	})
	.done(function( data ) { 		
		console.log("function has returned");

		if (data['error']){
			var error_div = document.getElementById('statusError');
			error_div.lastChild.data = data['error_msg'];

			openDiv('statusError');
			$("#statusError").fadeOut(5000, function(){
				closeDiv('statusError');
			});
			
		}else{
			openDiv('statusSuccess');
			closeDiv(targetDiv);

			window.setTimeout(function(){
				location.reload();
			}, 1500);
		}
	});

}


/*Perform a dedicated ajax request to change password*/
function changePassword(oldPassID, newPassID, targetDiv){

	var oldPass = document.getElementById(oldPassID);
	var newPass = document.getElementById(newPassID);

	$.ajax({
	  type: "POST",
	  url: "/profile/{{user.nickName}}",
	  dataType: 'json',
	  data: JSON.stringify({ "attr": "changePWD", "oldPass": oldPass.value, "newPass": newPass.value})
	})
	.done(function( data ) { 		
		console.log("function has returned");

		if (data['error']){
			var error_div = document.getElementById('statusError');
			error_div.lastChild.data = data['error_msg'];

			openDiv('statusError');
			$("#statusError").fadeOut(5000, function(){
				closeDiv('statusError');
			});
			
		}else{
			openDiv('statusSuccess');
			closeDiv(targetDiv);

			window.setTimeout(function(){
				location.reload();
			}, 1500);
		}
	});
}

/*Perform ajax request to save user preferences*/
function savePreferences(){
	var animals = 	document.getElementById("animals");
	var animalChoice = animals.options[animals.selectedIndex].value;

	var smoking = document.getElementById("smoking");
	var smokeChoice = smoking.options[smoking.selectedIndex].value;

	var luggage = document.getElementById("luggage");
	var luggageChoice = luggage.options[luggage.selectedIndex].value;

	$.ajax({
	  type: "POST",
	  url: "/profile/{{user.nickName}}",
	  dataType: 'json',
	  data: JSON.stringify({ "attr": "pref", 
							"animals": animalChoice,
							"smoking": smokeChoice,
							"luggage": luggageChoice})
	})
	.done(function( data ) { 		
		console.log("function has returned");
		openDiv('statusSuccess');

		window.setTimeout(function(){
			location.reload();
		}, 1500);
		
	});


}

</script>