<!-- Include of the dedicated stylesheet -->
<link rel="stylesheet" type="text/css" href="../scripts/userPage.css">
<link rel="stylesheet" type="text/css" href="../scripts/listTravels.css">

<!-- inclusion of relatives functions -->
<script type="text/javascript" src="/scripts/js/tools.js" ></script>



<!-- User Main Data Section -->
<div class="jumbotron container-fluid">


	<h1 class="text-primary">{{user.nickName}} Profile</h1>

	<!-- Success or error banner -->
	<div id="changeSuccess" class="alert alert-success" role="alert" style="display:none">
		<strong>Done !</strong> 
		Modification correctly saved. This page will now refresh
	</div>

	<div id="changeError" class="alert alert-danger" role="alert" style="display:none">
		<strong>Oups !</strong> There has been an error.
	</div>


	<!-- User personnal data section -->
	<!-- each section provide a piece of data of the user and a modifier button -->
	<div class="col-md-6 container userDataSection">

		<!-- Name section -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-8">
						<h3 class="panel-title" style="float:left" ><strong>Name </strong></h3>
					</div>

					<div class="btn-group">
						<button class="btn btn-warning" onclick="openDiv('enterName');">
							<span class="glyphicon glyphicon-edit"></span>
						</button>
					</div>
				</div>
			</div>

			<div class="panel-body">				
				<p style="float:left" ><strong>{{user.name}}</strong></p>				
			</div>

			<!-- Modifier -->
			<div id="enterName" class="panel-footer userData" style="display:none">	
				<input id="newName" class="panel-title" style="float:left" placeholder='Enter your name'></input>
				<button class="glyphicon glyphicon-ok-circle btn-success" onclick="submitChange('name', 'newName', 'enterName');">Change</button>
				<button class="glyphicon glyphicon-remove-circle btn-primary" onclick="closeDiv('enterName');">Cancel</button>
			</div>

		</div>


		<!-- FirstName section -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-8">
						<h3 class="panel-title" style="float:left" ><strong>Firstname </strong></h3>
					</div>

					<div class="btn-group">
						<a type="button" href="#" class="btn btn-warning" onclick="openDiv('enterFirstname');" >
							<span class="glyphicon glyphicon-edit"></span>
						</a>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<p style="float:left"><strong>{{user.firstName}}</strong></p>				
			</div>

			<!-- Modifier -->
			<div id="enterFirstname" class="panel-footer userData" style="display:none">	
				<input id="newFirstname" class="panel-title" style="float:left" placeholder='Enter your firstname'></input>
				<button class="glyphicon glyphicon-ok-circle btn-success" onclick="submitChange('firstName', 'newFirstname', 'enterFirstname');">Change</button>
				<button class="glyphicon glyphicon-remove-circle btn-primary" onclick="closeDiv('enterFirstname');">Cancel</button>
			</div>

		</div>


		<!-- Email section -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-8">
						<h3 class="panel-title" style="float:left" ><strong>Email address </strong></h3>
					</div>

					<div class="btn-group">
						<a type="button" href="#" class="btn btn-warning" onclick="openDiv('enterEmail');">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<p style="float:left"><strong>{{user.email}}</strong></p>				
			</div>

			<!-- Modifier -->
			<div id="enterEmail" class="panel-footer userData" style="display:none">	
				<input id="newEmail" class="panel-title" style="float:left" placeholder='Enter the new email address'></input>
				<button class="glyphicon glyphicon-ok-circle btn-success" onclick="submitChange('email', 'newEmail', 'enterEmail');">Change</button>
				<button class="glyphicon glyphicon-remove-circle btn-primary" onclick="closeDiv('enterEmail');">Cancel</button>
			</div>
		</div>


		<!-- Change password section -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-8">
						<h3 class="panel-title" style="float:left" ><strong>Change Password ?</strong></h3>
					</div>

					<div class="btn-group">
						<a type="button" href="#" class="btn btn-warning" onclick="openDiv('changePass');">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
					</div>
				</div>
			</div>

			<!-- Modifier -->
			<div id="changePass" class="panel-footer" style="display:none">

				<div class="userData">
					<input id="oldPass" type="password" class="panel-title" style="float:left" placeholder='Enter the current password'></input>	
					<button class="glyphicon glyphicon-ok-circle btn-success" onclick="changePassword('oldPass', 'newPass', 'changePass');">Change</button>				
				</div>

				<div class="userData">
					<input id="newPass" type="password" class="panel-title" style="float:left" placeholder='Enter the new password'></input>
					<button class="glyphicon glyphicon-remove-circle btn-primary" onclick="closeDiv('changePass');">Cancel</button>					
				</div>

			</div>
		</div>
		
	</div>
	
	<div class="col-md-6">
		<h1>Notation</h1>
		<h1>Statistiques </h1>
	</div>

</div>

<!-- User Preferences Data Section -->
<div class="jumbotron container-fluid">
	<h3> PREFERENCES :</h3>

	<!-- Preference of the user -->
	<div class="userDataSection" >
		<label class="userPref"> 
			Animals 
			<select id="animals" name="prefAnimals">
				<option value="ni" {% if user.animals == "ni" %} selected {% endif %}>
					not important 
				</option>
				<option value="ok" {% if user.animals == "ok" %} selected {% endif %}>
					authorized
				</option>
				<option value="nok" {% if user.animals == "nok" %} selected {% endif %}>
					prohibited
				</option>
			</select>
		</label>

		<label class="userPref"> 
			Smoking 
			<select id="smoking" name="prefSmoking">
				<option value="ni" {% if user.smoking == "ni" %} selected {% endif %}>
					not important 
				</option>
				<option value="ok" {% if user.smoking == "ok" %} selected {% endif %}>
					authorized
				</option>
				<option value="nok" {% if user.smoking == "nok" %} selected {% endif %}>
					prohibited
				</option>
			</select>
		</label>

		<label class="userPref"> 
			Luggage 
			<select id="luggage" name="prefLuggage">
				<option value="ni" {% if user.big_luggage == "ni" %} selected {% endif %}>
					not important 
				</option>
				<option value="ok" {% if user.big_luggage == "ok" %} selected {% endif %}>
					big
				</option>
				<option value="nok" {% if user.big_luggage == "nok" %} selected {% endif %}>
					small
				</option>
			</select>
		</label>


		<div class="userPref">
			<button class='userPref btn-success' onclick="savePreferences();">
				Save Preferences 
			</button>
		</div>		

	</div>
</div>




<script>

/*Handle input appropriate width*/
$(document).ready(function(e){
	//Set an appropriate width to password input : match the placeholder
	$("input[placeholder]").each(function () {
		$(this).attr('size', $(this).attr('placeholder').length);
	});
});


/*Call to open modifier divs*/
function openDiv(divName){
	console.log('open call');
	var targetDiv = document.getElementById(divName);
	targetDiv.style.display = 'block';

	//Give focus to the first input field within the opened div
	var children = targetDiv.children;
	for (var i = 0; i<children.length; i++){
		if (children[i].tagName == 'input' || children[i].tagName == 'INPUT'){
			children[i].focus();
			break;
		}
	}
}

/*Call to close modifier divs : flush the within content at the same time*/
function closeDiv(divName){
	console.log('close call');
	var targetDiv = document.getElementById(divName);
	targetDiv.style.display = 'none';
	targetDiv.firstChild.data = '';
}

/*Generic function to perform ajax request about a specific piece of data to change*/
function submitChange(attr, inputID, targetDiv){

	var input = document.getElementById(inputID);
	var inputData = input.value;

	if (attr == 'email' && ! validateEmail(inputData) ){
		$("#changeError").append("Email address is not valid");
		openDiv('changeError');
		$("#changeError").fadeOut(5000);
		return false;
	}

	$.ajax({
	  type: "POST",
	  url: "/myProfile",
	  dataType: 'json',
	  data: JSON.stringify({ "attr": attr, "value": inputData})
	})
	.done(function( data ) { 		
		console.log("function has returned");

		if (data['error']){
			var error_div = document.getElementById('changeError');
			error_div.lastChild.data = data['error_msg'];

			openDiv('changeError');
			$("#changeError").fadeOut(5000, function(){
				closeDiv('changeError');
			});
			
		}else{
			openDiv('changeSuccess');
			closeDiv(targetDiv);

			window.setTimeout(function(){
				location.reload();
			}, 1500);
		}
	});

}


/*Perform a dedicated ajax request to change password*/
function changePassword(oldPassID, newPassID, targetDiv){

	var oldPass = document.getElementById(oldPassID);
	var newPass = document.getElementById(newPassID);

	$.ajax({
	  type: "POST",
	  url: "/myProfile",
	  dataType: 'json',
	  data: JSON.stringify({ "attr": "changePWD", "oldPass": oldPass.value, "newPass": newPass.value})
	})
	.done(function( data ) { 		
		console.log("function has returned");

		if (data['error']){
			var error_div = document.getElementById('changeError');
			error_div.lastChild.data = data['error_msg'];

			openDiv('changeError');
			$("#changeError").fadeOut(5000, function(){
				closeDiv('changeError');
			});
			
		}else{
			openDiv('changeSuccess');
			closeDiv(targetDiv);

			window.setTimeout(function(){
				location.reload();
			}, 1500);
		}
	});
}

/*Perform ajax request to save user preferences*/
function savePreferences(){
	var animals = 	document.getElementById("animals");
	var animalChoice = animals.options[animals.selectedIndex].value;

	var smoking = document.getElementById("smoking");
	var smokeChoice = smoking.options[smoking.selectedIndex].value;

	var luggage = document.getElementById("luggage");
	var luggageChoice = luggage.options[luggage.selectedIndex].value;

	$.ajax({
	  type: "POST",
	  url: "/myProfile",
	  dataType: 'json',
	  data: JSON.stringify({ "attr": "pref", 
							"animals": animalChoice,
							"smoking": smokeChoice,
							"luggage": luggageChoice})
	})
	.done(function( data ) { 		
		console.log("function has returned");
		openDiv('changeSuccess');

		window.setTimeout(function(){
			location.reload();
		}, 1500);
		
	});


}

</script>