#driverTravels {
	margin-top: 20px;
}

.inline_panel img {
	height: 22px;
	width: 22px;
}

.btn {
	margin: 0 0 0 auto;
	height: 40px;
	width: 40px;
	font-size: 15px;
}

.btn-group {
	float: right !important;
	margin-right: 10px;
}

h3 {
    padding-top: 10px;
}

.panel-body {
	font-size: 16px;
}

.alert {
	margin-top: 20px;
}