/* CSS for addTravel, modifyTravel and searchTravel html pages */

.jumbotron {
	margin-top: 20px;
	padding: 20px;
	text-align: left;
}

.jumbotron form {
	text-align: left;
}

.jumbotron .form-control {
	width: 80%;
}

label span {
	font-size: 15px;
	font-weight: 500;
}

#price, #price_modify, #price_search {
	width: 100px;
	display: inline;
}

#seats, #seats_modify, #seats_search {
	width: 100px;
}

#preferences label, #preferences_modify label, #preferences_search label {
	text-align: center;
}

h3 {
	font-size: 20px;
	font-weight: 700;
}

img {
	height: 50px;
	width: 50px;
}

.alert {
	margin-top: 20px;
}

.alert-departure-arival::-webkit-input-placeholder {
    color: red;
}
