/* CSS for driverTravels and resultSearch html pages */

#driverTravels, #resultSearch {
	margin-top: 20px;
}

.inline_panel img {
	height: 22px;
	width: 22px;
}

.btn {
	margin: 0 0 0 auto;
	height: 40px;
	width: 40px;
	font-size: 15px;
}

.btn-group {
	float: right !important;
	margin-right: 10px;
}

h3 {
    padding-top: 10px;
}

.panel-body {
	font-size: 16px;
}

.alert {
	margin-top: 20px;
}

.plus-minus {
	display: inline;
}

.plus-minus .btn {
	margin: 0 0 0 0;
	display: inline;
}

.plus-minus input {
	height: 40px;
	width: 80px;
	border-radius: 6px;
	margin: 0 0 0 0;
	font-size: 16px;
	text-align: center;
	color: #000;
}
